
</div>
<footer class="contain-fluid footer">
    <div class="footer row">
      <div class="col">
        <a href="https://twitter.com/PalisadesVocal">
          <img src="/images/twitter.png" alt="Twitter">
        </a>
        <p>Hilsdale, NJ</p>
        <a class="footer-tel" href="tel:973-780-7294">973.780.7294</a>
        <p>Armstrong Vocal Studio ⓒ <%=new Date().getFullYear()%></p>
      </div>
    </div>
</footer>
</div>
</body>
</html>
