<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Armstrong Vocal Studio</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lessons">LESSONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mission-statement">MISSON STATEMENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/who-we-are">WHO WE ARE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sytyko">SYTYKO?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">CONTACT US</a>
            </li>
          </ul>
        <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
      </div>
    </div>
  </nav>

  <body>
    <div class="container-fluid">
