<%- include("partials/header") -%>

  <div class ="parallax row"></div>
  <div class="header">
      <h1>Armstrong Voice Studio</h1>
      <h2>Private Singing Lessons with Active Professionals</h2>
      <button
        class="btn btn-secondary"
        type="button"
        onClick="location.href='/contact-us'"
      >
        Book A Discounted 30 Minute Consultation
      </button>
  </div>
  <div class="home-content row">
      <h2>Customized Private Lessons</h2>
      <p>Our students benefit from having two teachers, not just one, covering a wide array of skill sets.</p>
      <div class="row align-items-center">
        <div class="col-lg-4">
          <img src="/images/opera-and-musical-theater.jpg" alt="Opera & Musical Theater">
          <h3>Opera & Musical Theater</h3>
          <p>Both teachers are on the roster of the Metropolitan Opera Chorus.  We've performed leading and
            supporting roles throughout the United States, Canada, and Europe.  Our classical technique is
            effective in opera, musical theater, jazz, and contemporary styles.</p>
        </div>
        <div class="col-lg-4">
          <img src="/images/audition-preparation.jpeg" alt="Audition Preperation">
          <h3>Audition Preperation</h3>
          <p>We have a very high success rate among our students auditioning for college and pre-college,
            high school musical productions, select choirs, and regional choirs.  We specialize in repertoire
            selection, and helping singers harness their nervous energy into effective auditions.  </p>
        </div>
        <div class="col-lg-4">
          <img src="/images/sacred-and-choral-music.jpg" alt="Sacred & Choral Music">
          <h3>Sacred & Choral Music</h3>
          <p>Opportunities abound in the world of sacred music.  Our teachers are professional cantors as well,
            and offer specialized training in the specific needs of singers who belong to churches, synagogues
            and other religious organizations with music ministries.</p>
        </div>
    </div>
  </div>

<%- include("partials/footer") -%>
